@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: rgb(37, 37, 37);
  --card: #ffffff;
  --card-foreground: rgb(37, 37, 37);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(37, 37, 37);
  --primary: #030213;
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(242, 242, 247);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: rgb(180, 180, 180);
  --chart-1: rgb(234, 179, 8);
  --chart-2: rgb(59, 130, 246);
  --chart-3: rgb(99, 102, 241);
  --chart-4: rgb(251, 191, 36);
  --chart-5: rgb(250, 204, 21);
  --radius: 0.625rem;
  --sidebar: rgb(251, 251, 251);
  --sidebar-foreground: rgb(37, 37, 37);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(247, 247, 247);
  --sidebar-accent-foreground: rgb(52, 52, 52);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(180, 180, 180);
}

.dark {
  --background: rgb(37, 37, 37);
  --foreground: rgb(251, 251, 251);
  --card: rgb(37, 37, 37);
  --card-foreground: rgb(251, 251, 251);
  --popover: rgb(37, 37, 37);
  --popover-foreground: rgb(251, 251, 251);
  --primary: rgb(251, 251, 251);
  --primary-foreground: rgb(52, 52, 52);
  --secondary: rgb(68, 68, 68);
  --secondary-foreground: rgb(251, 251, 251);
  --muted: rgb(68, 68, 68);
  --muted-foreground: rgb(180, 180, 180);
  --accent: rgb(68, 68, 68);
  --accent-foreground: rgb(251, 251, 251);
  --destructive: rgb(220, 38, 38);
  --destructive-foreground: rgb(254, 202, 202);
  --border: rgb(68, 68, 68);
  --input: rgb(68, 68, 68);
  --ring: rgb(112, 112, 112);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: rgb(139, 92, 246);
  --chart-2: rgb(34, 197, 94);
  --chart-3: rgb(250, 204, 21);
  --chart-4: rgb(168, 85, 247);
  --chart-5: rgb(239, 68, 68);
  --sidebar: rgb(52, 52, 52);
  --sidebar-foreground: rgb(251, 251, 251);
  --sidebar-primary: rgb(139, 92, 246);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(68, 68, 68);
  --sidebar-accent-foreground: rgb(251, 251, 251);
  --sidebar-border: rgb(68, 68, 68);
  --sidebar-ring: rgb(112, 112, 112);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  /**
  * Default typography styles for HTML elements (h1-h4, p, label, button, input).
  * These are in @layer base, so Tailwind utility classes (like text-sm, text-lg) automatically override them.
  */

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}